name: CI/CD Workflow

on:
  push:
    branches:
      - !main
jobs:
  Checkout:
    uses: ankgoya1/pr/.github/workflows/checkout.yml@main

  Build:
    uses: ankgoya1/pr/.github/workflows/build.yml@main

  Publish:
    uses: ankgoya1/pr/.github/workflows/publish.yml@main
